@import url("components/header.css");
@import url("components/sidebar.css");
@import url("components/dashboard.css");
@import url("components/popovers.css");
@import url("components/charts.css");
@import url("components/model-viewer.css");

/* global body style */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f1220;
  color: #eaeaf0;
  overflow-x: hidden;
}
